<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
        cacheResult="false"
        executionOrder="depends,defects"
        beStrictAboutOutputDuringTests="true"
        failOnRisky="true"
        failOnWarning="true"
        colors="true"
        cacheDirectory="var/.phpunit.cache"
        requireCoverageMetadata="true"
        beStrictAboutCoverageMetadata="true"
        beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="test"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>src/Entity</directory>
            <directory>src/DTO</directory>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
    </coverage>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>
